<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Click Counter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>876CA4CF1C8B71A2000E4991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>876CA4E31C8B71A3000E4991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>876CA4EE1C8B71A3000E4991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
